.activite-contaier{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top:100px ;
}
 .heading{
 
} 

span{
    display: block;
    justify-content: center;
    padding-right: 500px;
     color:rgb(18, 19, 19);
     font-size: 24px;
     font-weight: bolder;
}
.main-container{
   display: flex;
   flex-direction: column;
   margin-top: 20px;
    background-color: black;
    height: 160vh;
    width: 55%;
  
}
ul li{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}